<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <title>Learn Sphere</title>
     <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
    <img th:src="@{/images/Jijivisha.png}" height="100px" width="100px" >
    <div id="container">
    <h1 class="headline" style="text-align: center; display: block;">JijiVisha Is The Best Learning Platform...</h1>
           <div class="tabs">
              <a th:href="@{/nav/login}" class="button">Login</a>
              <a th:href="@{/nav/register}" class="button">Register</a>
           </div>
     </div>
</body>
</html>

                                                             